
.overlayContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.875);
  top: 0;
  left: 0;
  color: white;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.overlayArticle {
  margin: 0 auto;
  padding: 0.125% 5% 5% 5%;
  box-sizing: border-box;
  width: 65%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  justify-content: center;
  height: 100%;  
}

.overlayArticle video {
    width: 100%;
    height: auto;
  }

.overlayArticle p {
    text-align: left;
  }

.overlayArticle blockquote {
    color: #ccc;
  }

.overlayArticle h1 {
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 0.75em;
    text-align: center;
    margin: 3em 1em 1em 1em;
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    right: 0;
  }

.overlayArticle a {
    color: #fff;
  }

.overlayClose {
  position: fixed;
  top: 2.5%;
  right: 2.5%;
  transition: color 0.5s;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.overlayClose::before {
  font: normal normal normal 24px/1 FontAwesome;
  content: "\f00d";
}

.overlayClose:hover {
  color: #fff;
}
