.container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.875);
  top: 0;
  left: 0;
  color: white;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}

.article {
  margin: 0 auto;
  padding: 0.125% 5% 5% 5%;
  box-sizing: border-box;
  max-width: 800px;
}

.article p {
    text-align: justify;
  }

.article blockquote {
    color: #ccc;
  }

.article h1 {
    color: #ccc;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    font-size: 0.75em;
    text-align: center;
    margin: 3em 1em 1em 1em;
  }

.article a {
    color: #fff;
  }

.close {
  position: fixed;
  top: 2.5%;
  right: 2.5%;
  transition: color 0.5s;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.close::before {
  font: normal normal normal 24px/1 FontAwesome;
  content: "\f00d";
}

.close:hover {
  color: #fff;
}
